<a href="https://colab.research.google.com/github/fardifa/Apriori-and-FP-Growth-Algorithm/blob/main/Entrepreneur__FP_Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

#Import the CSV File

In [1]:

from google.colab import files
uploaded = files.upload()

Saving data.csv to data.csv

In [2]:
store_data = pd.read_csv('data.csv')

In [3]:
store_data.head()

        EducationSector  ...    y
0  Engineering Sciences  ...  yes
1  Engineering Sciences  ...   no
2  Engineering Sciences  ...   no
3  Engineering Sciences  ...   no
4  Engineering Sciences  ...  yes

[5 rows x 17 columns]

#Data Preprocessing

Delete unnecessary features and keep the information of student entrepreneurs only

In [4]:
data = store_data.drop(columns=['Age','Perseverance', 'DesireToTakeInitiative','Competitiveness','SelfReliance','StrongNeedToAchieve','SelfConfidence','GoodPhysicalHealth','City','Influenced','ReasonsForLack','IndividualProject','MentalDisorder','KeyTraits'])

In [5]:
data = data[data.y != 'no']
data.head()

        EducationSector Gender    y
0  Engineering Sciences   Male  yes
4  Engineering Sciences   Male  yes
5  Engineering Sciences   Male  yes
6  Engineering Sciences   Male  yes
9  Engineering Sciences   Male  yes

In [12]:
import numpy as np
transactions = []
for sublist in data.values.tolist():
  clean_sublist = [item for item in sublist if item is not np.nan]
  transactions.append(clean_sublist)

In [13]:
transactions

[['Engineering Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Economic Sciences, Business Studies, Commerce and Law', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Others', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Economic Sciences, Business Studies, Commerce and Law', 'Male', 'yes'],
 ['Art, Music or Design', 'Male', 'yes'],
 ['Economic Sciences, Business Studies, Commerce and Law', 'Female', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Economic Sciences, Business Studies, Commerce and Law', 'Male', 'yes'],
 ['Humanities and Social Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Economic Sciences, Business Studies, Commerce and Law', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Female', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Medicine, Health Sciences', 'Female', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Female', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Female', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Art, Music or Design', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Others', 'Female', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Humanities and Social Sciences', 'Male', 'yes'],
 ['Medicine, Health Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Others', 'Male', 'yes'],
 ['Humanities and Social Sciences', 'Male', 'yes'],
 ['Economic Sciences, Business Studies, Commerce and Law', 'Male', 'yes'],
 ['Humanities and Social Sciences', 'Female', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Medicine, Health Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Female', 'yes'],
 ['Engineering Sciences', 'Female', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Economic Sciences, Business Studies, Commerce and Law', 'Male', 'yes'],
 ['Art, Music or Design', 'Female', 'yes'],
 ['Others', 'Female', 'yes'],
 ['Teaching Degree (e.g., B.Ed)', 'Male', 'yes'],
 ['Teaching Degree (e.g., B.Ed)', 'Male', 'yes'],
 ['Art, Music or Design', 'Male', 'yes'],
 ['Others', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Art, Music or Design', 'Female', 'yes'],
 ['Humanities and Social Sciences', 'Female', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Others', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Economic Sciences, Business Studies, Commerce and Law', 'Male', 'yes'],
 ['Art, Music or Design', 'Male', 'yes'],
 ['Others', 'Female', 'yes'],
 ['Others', 'Female', 'yes'],
 ['Art, Music or Design', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Art, Music or Design', 'Female', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Female', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Female', 'yes'],
 ['Economic Sciences, Business Studies, Commerce and Law', 'Male', 'yes'],
 ['Art, Music or Design', 'Female', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Female', 'yes'],
 ['Engineering Sciences', 'Male', 'yes']]

In [14]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(transactions).transform(transactions)
df = pd.DataFrame(te_ary, columns=te.columns_)
df.head()

   Art, Music or Design  ...   yes
0                 False  ...  True
1                 False  ...  True
2                 False  ...  True
3                 False  ...  True
4                 False  ...  True

[5 rows x 10 columns]

#FP-Growth Algorithm Implementation

In [9]:
!pip install mlxtend --upgrade --no-deps

Requirement already satisfied: mlxtend in /usr/local/lib/python3.7/dist-packages (0.18.0)

In [15]:
from mlxtend.frequent_patterns import fpgrowth

frequent_itemsets = fpgrowth(df, min_support=0.1, use_colnames=True)

frequent_itemsets

    support                           itemsets
0  1.000000                              (yes)
1  0.780220                             (Male)
2  0.604396             (Engineering Sciences)
3  0.219780                           (Female)
4  0.780220                        (yes, Male)
5  0.604396        (Engineering Sciences, yes)
6  0.516484       (Engineering Sciences, Male)
7  0.516484  (Engineering Sciences, yes, Male)
8  0.219780                      (Female, yes)

#Association Rules
Association rule mining finds interesting associations and relationships among large sets of data items. This rule shows how frequently a itemset occurs in a transaction.

In [16]:
from mlxtend.frequent_patterns import association_rules

association_rules(frequent_itemsets, metric="confidence", min_threshold=0.2)

                     antecedents  ... conviction
0                          (yes)  ...   1.000000
1                         (Male)  ...        inf
2         (Engineering Sciences)  ...        inf
3                          (yes)  ...   1.000000
4         (Engineering Sciences)  ...   1.510989
5                         (Male)  ...   1.170330
6    (Engineering Sciences, yes)  ...   1.510989
7   (Engineering Sciences, Male)  ...        inf
8                    (yes, Male)  ...   1.170330
9         (Engineering Sciences)  ...   1.510989
10                         (yes)  ...   1.000000
11                        (Male)  ...   1.170330
12                      (Female)  ...        inf
13                         (yes)  ...   1.000000

[14 rows x 9 columns]

#Comparison between Performance of Apriori and FP-Growth Algorithm

In [17]:
from mlxtend.frequent_patterns import apriori

%timeit -n 100 -r 10 apriori(df, min_support=0.1)
#3.02 ms ± 118 µs per loop (mean ± std. dev. of 10 runs, 100 loops each)

100 loops, best of 10: 4.44 ms per loop

In [18]:
%timeit -n 100 -r 10 apriori(df, min_support=0.1, low_memory=True)
#2.89 ms ± 89.4 µs per loop (mean ± std. dev. of 10 runs, 100 loops each)

100 loops, best of 10: 4.65 ms per loop

In [20]:
from mlxtend.frequent_patterns import fpgrowth

%timeit -n 100 -r 10 fpgrowth(df, min_support=0.1)

100 loops, best of 10: 2.11 ms per loop