<a href="https://colab.research.google.com/github/fardifa/Apriori-and-FP-Growth-Algorithm/blob/main/Entrepreneur_Apriori_Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Import the CSV File

In [1]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import files
uploaded = files.upload()

In [3]:
store_data = pd.read_csv('data.csv')

In [4]:
store_data.shape

(219, 17)

In [5]:
store_data.shape

(219, 17)

#Data Preprocessing

In [6]:
data = store_data.drop(columns=['Age','Perseverance', 'DesireToTakeInitiative','Competitiveness','SelfReliance','StrongNeedToAchieve','SelfConfidence','GoodPhysicalHealth','City','Influenced','ReasonsForLack','IndividualProject','MentalDisorder','KeyTraits'])

In [7]:
#data['y'] = store_data['y'].map({'1':'yes', '0':'no'})

In [8]:
data = data[data.y != 'no']
data.head()

        EducationSector Gender    y
0  Engineering Sciences   Male  yes
4  Engineering Sciences   Male  yes
5  Engineering Sciences   Male  yes
6  Engineering Sciences   Male  yes
9  Engineering Sciences   Male  yes

In [9]:
transactions = []
for sublist in data.values.tolist():
  clean_sublist = [item for item in sublist]
  transactions.append(clean_sublist)

In [10]:
transactions

[['Engineering Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Economic Sciences, Business Studies, Commerce and Law', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Others', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Economic Sciences, Business Studies, Commerce and Law', 'Male', 'yes'],
 ['Art, Music or Design', 'Male', 'yes'],
 ['Economic Sciences, Business Studies, Commerce and Law', 'Female', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Economic Sciences, Business Studies, Commerce and Law', 'Male', 'yes'],
 ['Humanities and Social Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Economic Sciences, Business Studies, Commerce and Law', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Female', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Medicine, Health Sciences', 'Female', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Female', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Female', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Art, Music or Design', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Others', 'Female', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Humanities and Social Sciences', 'Male', 'yes'],
 ['Medicine, Health Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Others', 'Male', 'yes'],
 ['Humanities and Social Sciences', 'Male', 'yes'],
 ['Economic Sciences, Business Studies, Commerce and Law', 'Male', 'yes'],
 ['Humanities and Social Sciences', 'Female', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Medicine, Health Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Female', 'yes'],
 ['Engineering Sciences', 'Female', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Economic Sciences, Business Studies, Commerce and Law', 'Male', 'yes'],
 ['Art, Music or Design', 'Female', 'yes'],
 ['Others', 'Female', 'yes'],
 ['Teaching Degree (e.g., B.Ed)', 'Male', 'yes'],
 ['Teaching Degree (e.g., B.Ed)', 'Male', 'yes'],
 ['Art, Music or Design', 'Male', 'yes'],
 ['Others', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Art, Music or Design', 'Female', 'yes'],
 ['Humanities and Social Sciences', 'Female', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Others', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Economic Sciences, Business Studies, Commerce and Law', 'Male', 'yes'],
 ['Art, Music or Design', 'Male', 'yes'],
 ['Others', 'Female', 'yes'],
 ['Others', 'Female', 'yes'],
 ['Art, Music or Design', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Art, Music or Design', 'Female', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Female', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Female', 'yes'],
 ['Economic Sciences, Business Studies, Commerce and Law', 'Male', 'yes'],
 ['Art, Music or Design', 'Female', 'yes'],
 ['Engineering Sciences', 'Male', 'yes'],
 ['Engineering Sciences', 'Female', 'yes'],
 ['Engineering Sciences', 'Male', 'yes']]

In [11]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(transactions).transform(transactions)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

    Art, Music or Design  ...   yes
0                  False  ...  True
1                  False  ...  True
2                  False  ...  True
3                  False  ...  True
4                  False  ...  True
..                   ...  ...   ...
86                 False  ...  True
87                  True  ...  True
88                 False  ...  True
89                 False  ...  True
90                 False  ...  True

[91 rows x 10 columns]

#Apriori Algorithm Implementation

In [12]:
!pip install mlxtend --upgrade --no-deps

Requirement already satisfied: mlxtend in /usr/local/lib/python3.7/dist-packages (0.18.0)

In [13]:
from mlxtend.frequent_patterns import apriori

frequent_itemsets = apriori(df, min_support=0.1, use_colnames=True)

frequent_itemsets

    support                           itemsets
0  0.604396             (Engineering Sciences)
1  0.219780                           (Female)
2  0.780220                             (Male)
3  1.000000                              (yes)
4  0.516484       (Engineering Sciences, Male)
5  0.604396        (yes, Engineering Sciences)
6  0.219780                      (yes, Female)
7  0.780220                        (yes, Male)
8  0.516484  (yes, Engineering Sciences, Male)

In [14]:
from mlxtend.frequent_patterns import association_rules

association_rules(frequent_itemsets, metric="confidence", min_threshold=0.2)

                     antecedents  ... conviction
0         (Engineering Sciences)  ...   1.510989
1                         (Male)  ...   1.170330
2                          (yes)  ...   1.000000
3         (Engineering Sciences)  ...        inf
4                          (yes)  ...   1.000000
5                       (Female)  ...        inf
6                          (yes)  ...   1.000000
7                         (Male)  ...        inf
8    (yes, Engineering Sciences)  ...   1.510989
9                    (yes, Male)  ...   1.170330
10  (Engineering Sciences, Male)  ...        inf
11                         (yes)  ...   1.000000
12        (Engineering Sciences)  ...   1.510989
13                        (Male)  ...   1.170330

[14 rows x 9 columns]